img {
    width: 300px;
    float: left;
    border: solid 3px rgb(0, 255, 0);
    border-radius: 9px;
    margin-right: 15px
}

body {
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    line-height: normal;
    color: rgb(224, 224, 224);
    background-color: white;
}

#container {
    width: 700px;
    margin: 0 auto;
    background: rgb(45, 45, 45);
    padding: 30px;
    border-left: double black 5px;
    border-right: double black 5px;
}

a:link {
    font-weight: bold;
    color: rgba(87, 87, 202, 0.954);
    text-decoration: none;
}

a:visited {
    color: rgba(96, 72, 184, 0.954);
}

a:hover {
    text-decoration:underline;
}

a:active {
    color: rgb(0, 255, 0);
}

#pic2 {
    float: right;
}
.text {
    line-height: 2.2em;
}

#title {
    line-height: normal;
}

h1, h2, h3 {
    color: rgb(255, 255, 255);
}

h3 {
    border-left: solid rgb(0, 255, 0) 15px;
    padding: 10px;
    border-radius: 5px;
    clear: both;
}

p span {
    color: rgba(87, 87, 202, 0.954);
}